<div class="container">
  <h1>My Tasks List</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li style="list-style: none;" ><input type="checkbox" <%= 'checked' if task.completed %>> <%= link_to task.title, task_path(task) %></li>
    <% end %>
  </ul>

  <%= link_to 'Add a new task', new_tasks_path %>
</div>
