<h1 class="text-uppercase text-danger">My Tasks List</h1>
<ul>
  <% @tasks.each do |task| %>
    <li style="list-style: none;" class="list-group-item" ><input type="checkbox" class="form-check-label" <%= 'checked' if task.completed %>> <%= link_to task.title, task_path(task), class: 'text-decoration-none' %></li>
  <% end %>
</ul>

<%= link_to 'Add a new task', new_tasks_path, class: "btn btn-light mt-2" %>
